html, body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.map {
  position: relative;
}
.map-content {
  height: 100%;
  width: 100%;
}
.map-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 335px;
  z-index: 100;
  border-left: 1px solid #fff;
  display: none;
  background-color: rgba(128, 128, 128, 0.5);
}
.map-sidebar .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
  border-bottom: 1px solid #fff;
  color: white;
}
.map-sidebar .content {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.map-date-picker {
  position: absolute;
  bottom: 40px;
  left: 15px;
  width: 350px;
  height: 50px;
  background-color: rgba(128,128,128,0.5);
  padding: 6px;
  z-index: 100;
  display: table;
  color: white;
}
.map-date-picker label {
  position: absolute;
  top: -20px;
  font-weight: normal;
  font-size: 12px;
}
.map-date-picker input[type="text"] {
  padding: 6px;
  border-radius: 4px;
  display: table-cell;
  vertical-align: middle;
  color: #555;
  width: 100%
}

/* This makes the map as big as possible in the HTML page. */
html, body, .map {
  height: 100%;
  width: 100%;
}

/* If you want the map to appear as part of a page of content, comment out the above selector, and
give the map an explicit size, and adjust the HTML content accordingly. For example: */
/*
.map {
  width: 100%;
  height: 600px;
}
*/

/* Styling for the video thumbnails in the right-hand sidebar.*/
.video {
  border-bottom: 1px solid white;
  position: relative;
}
.video a {
  /* Remove the 3-px gap below the thumbnails. */
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
}
.video .info {
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.video .date {
  text-align: right;
}

/* Styling for the circular markers. */
.icon {
  /*border: 1px solid red;*/
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: table; /* Align the text vertically in the circle. */
}
.icon:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.icon>div {
  /* Aligns the text vertically in the circle. */
  display: table-cell;
  vertical-align: middle;
}
