

body {
	background-color: white;
	font-family: 'UniversNextW01-Regular'; /* old 'Univers Next W01 Light'; */
	font-size: 16px;
	color: #000;
	
}

h3, .h3 {
  font-size: 16px;
  font-weight: 900;
  position: relative;
}


.c4sr-title { 
float: left;}
.c4sr-menu {
float: right;
}
.c4sr-about {
	position: relative;
}

.inner-margin-right {
	/* right side internal margin on slideshow modules */
	float: right;
	position: relative;
	right: 80px;
}


.row.c4sr-intro {
	/* intro row */
	margin-bottom: 10px;
}

.row.c4sr-mini-slideshow {
	padding: 20px 0 20px 20px;
	background-color: #333132;
	color: #fff;
	overflow: hidden;
	
}

.row.c4sr-slideshow-large {
	padding: 20px 0 20px 20px;
	background-color: #fff;
	color: #000;
	overflow: hidden;
}

.row.c4sr-project-table {
	overflow: hidden;
  padding: 20px 0 20px 20px;
  border-top: 1px solid black;

}

/* table */

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-bottom: 1px solid #000;
  border-top: none;
  padding: 20px 0;
}


/* border styles */
  
svg.c4sr-border {
  transform: rotate(90deg);
	position: absolute;
	top: 0; left: 0;
 }

 canvas.c4sr-canvas-inline {
 	float: left;
 }

 canvas.c4sr-h3-canvas {
  margin-right: 2px;
  position: relative;
  top: 1px;
}

img.c4sr-featured-image {
	margin-bottom: 20px;
}


/* jcarousel - cant use default bootstrap as it doesnt allow you to show more than 1 item at once */

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/

/* todo consolidate with carousel specific CSS */

.jcarousel-small-wrapper {
	margin-top: 20px;
	margin-right: -20px;
}

.jcarousel-large-wrapper {
	margin-top: 20px;
	margin-right: -20px;
}
.jcarousel-small, .jcarousel-large {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel-small ul, .jCarousel-large ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel-small li, .jcarousel-large li {
    /* Required only for block elements like <li>'s */
    float: left;
    margin-right: 20px;
}

.carousel-item-small {
	width: 190px;
  font-size: 14px;
}

.carousel-item-small img {
	margin-bottom: 5px;
}

.carousel-item-large {
	width: 980px;
  font-size: 14px;
}

.carousel-item-large img {
	margin-bottom: 5px;
}


/* web fonts


font-family:'UniversNW01-130BUlLt';
font-family:'UniversNW01SC-130BUlLt';
font-family:'UniversNW01-131BUlLtIt';
font-family:'UniversNW01SC-131BUlLtI';
font-family:'UniversNW01-230BThin';
font-family:'UniversNW01SC-230BThin';
font-family:'UniversNW01-231BThinIt';
font-family:'UniversNW01SC-231BThinI';
font-family:'Univers Next W01 Light';
font-family:'UniversNextW01-LightIta';
font-family:'UniversNextW01-SCLightI';
font-family:'UniversNextW01-Regular';
font-family:'Univers Next W01 Italic';
font-family:'Univers Next W01 Medium';
font-family:'UniversNextW01-MediumIt';
font-family:'Univers Next W01 Bold';
font-family:'UniversNextW01-BoldItal';
font-family:'Univers Next W01 Heavy';
font-family:'UniversNextW01-HeavyIta';
font-family:'Univers Next W01 Black';
font-family:'UniversNextW01-SCBlack';
font-family:'UniversNextW01-BlackIta';
font-family:'UniversNextW01-SCBlackI';
font-family:'UniversNW01-930BXBlk';
font-family:'UniversNW01SC-930BXBlk';
font-family:'UniversNW01-931BXBlkIt';
font-family:'UniversNW01SC-931BXBlkI';
font-family:'UniversNW01-120CdUlLt';
font-family:'UniversNW01-121CdUlLtIt';
font-family:'UniversNW01-220CdThin';
font-family:'UniversNW01-221CdThinIt';
font-family:'Univers N W01_320 Cd Lt';
font-family:'UniversNW01SC-320CdLt';
font-family:'UniversNW01-321CdLtIt';
font-family:'UniversNW01SC-321CdLtIt';
font-family:'UniversNW01-420CdRegula';
font-family:'UniversNW01SC-420CdRegu';
font-family:'Univers N W01_421 Cd It';
font-family:'UniversNW01SC-421CdIt';
font-family:'UniversNW01-520CdMedium';
font-family:'UniversNW01SC-520CdMedi';
font-family:'UniversNW01-521CdMedium';
font-family:'UniversNW01SC-521CdMedI';
font-family:'UniversNW01-620CdBold';
font-family:'UniversNW01SC-620CdBold';
font-family:'UniversNW01-621CdBoldIt';
font-family:'UniversNW01SC-621CdBold';
font-family:'UniversNW01-720CdHeavy';
font-family:'UniversNW01SC-720CdHeav';
font-family:'UniversNW01-721CdHeavyI';
font-family:'UniversNW01SC-721CdHeav';
font-family:'UniversNW01-820CdBlk';
font-family:'UniversNW01-821CdBlkIt';
font-family:'UniversNW01-920CdXBlk';
font-family:'UniversNW01-921CdXBlkIt';
font-family:'UniversNW01-110CmpUlLt';
font-family:'UniversNW01-210CmpThin';
font-family:'UniversNW01-310CmpLt';
font-family:'Univers N W01_410 Cmp';
font-family:'UniversNW01-510CmpMediu';
font-family:'UniversNW01-140XtdUlLt';
font-family:'UniversNW01-141XtdUlLtI';
font-family:'UniversNW01-240XtdThin';
font-family:'UniversNW01-241XtdThinI';
font-family:'UniversNW01-340XtdLt';
font-family:'UniversNW01SC-340XtdLt';
font-family:'UniversNW01-341XtdLtIt';
font-family:'UniversNW01SC-341XtdLtI';
font-family:'UniversNW01-440XtdRegul';
font-family:'UniversNW01SC-440XtdReg';
font-family:'UniversNW01-441XtdIt';
font-family:'UniversNW01SC-441XtdIt';
font-family:'UniversNW01-540XtdMediu';
font-family:'UniversNW01SC-540XtdMed';
font-family:'UniversNW01-541XtdMediu';
font-family:'UniversNW01SC-541XtdMed';
font-family:'UniversNW01-640XtdBold';
font-family:'UniversNW01SC-640XtdBol';
font-family:'UniversNW01-641XtdBoldI';
font-family:'UniversNW01SC-641XtdBol';
font-family:'UniversNW01-740XtdHeavy';
font-family:'UniversNW01SC-740XtdHea';
font-family:'UniversNW01-741XtdHeavy';
font-family:'UniversNW01SC-741XtdHyI';
font-family:'UniversNW01-840XtdBlk';
font-family:'UniversNW01-841XtdBlkIt';
font-family:'UniversNW01-940XtdXBlk';
font-family:'UniversNW01-941XtdXBlkI';


*/