a {
    color: black;
}
a:hover,
a:focus {
    color: black;
    text-decoration: underline;
}
.row.top-row {
    padding: 20px;
}
.row.top-row h5 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
}
.mid-column .row {
    color: #000;
    display: block;
    height: 100%;
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.3em;
    font-size: 16px;
    font-weight: 400;
}
#sticky-menu {
    position: relative;
    left: 28px;
    padding-top: 6px;

}

#sticky-menu ul.c4sr-nav li a {
    font-size: 80%;
}

#nav > li > a {
    font-size: 80%;

}
#sticky-menu a:hover {
    text-decoration: underline;
}
#sticky-menu li a img {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}


.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
}

.nav>li>a>img {
  max-width: none;
  width: 8%;
  padding-right: 9px;
  margin-left: 30px;
}
.affix {
    top: 20px;
}
.img-padding {
    padding: 20px;
}
.body-text {
    line-height: 1.3em;
    font-size: 16px;
}
.body-text h5 {
    font-weight: 700;
    font-size: 22px;
    padding: 0;
}
.footnote {
    display: inline;
    font-size: 66%;
    position: relative;
    top: -6px;
    padding: 0;
}
.footnote-ref {
    position: relative;
    font-size: 70%;
}

.footnote-ref-1 {
    top: 150px;   
}

.footnote-ref-2 {
    top: 2309px;
}

.footnote-ref-3 {
    top: 3488px;
}

.footnote-ref-4 {
    top: 4500px;
}

.footnote-ref-5 {
    top: 4550px;
}

.footnote-ref-6 {
    top: 5700px;
}

.footnote-ref-7 {
    top: 5750px;
}

.footnote-ref-8 {
    top: 5800px;
}

.footnote-ref-9 {
    top: 6800px;
}

.footnote-ref-10 {
    top: 9187px;
}

.footnote-ref-11 {
    top: 9250px;
}






@media (max-width: 991px) {
    ul.c4sr-nav {
        display: none;
    }

    /* footnotes */
    

    
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /* iphone 4 */

}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    /* iphone 5 */

.main.container {
  width: 95%;
}

 .body-text {
  line-height: 1.3em;
  font-size: 70%;
  width: 90%;
}

.body-text h5 {
  font-weight: 300;
  padding: 0;
  font-size: 130%;
}

.row.top-row h5 {
 font-size: 70%;
 font-weight: 300;
 padding: 0;
}

.row.top-row {
    padding: 0;
    border: none;
}

.img-padding {
    padding: 0;
}

.img-padding img {
    width: 95%;
    height: auto;
}


}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    /* iphone 6 */

 .body-text {
  line-height: 1.3em;
  font-size: 70%;
  width: 90%;
}

.row.top-row h5 {
 font-size: 70%;
 font-weight: 300;
 padding: 0;
}

.row.top-row {
    padding: 0;
    border: none;
}

.img-padding {
    padding: 0;
}

.img-padding img {
    width: 95%;
    height: auto;
}



}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    /* 6plus */

}
